/* universal selectors */
*{

    margin: 0;
    padding: 0;
}
/* element selector */
/* h1
{
    color: #808081;
}

p{
    color: red;
} */

/* Class Selectors */   
/* .pra{
    color: rgb(77, 2, 143);
}

.hello{
    font-size:60px;
} */ 

/* ID selectors */  
/* #id1
{
    color: whitesmoke;
    background-color: black ;
} */
/* selector list */ 
/* .class1 , class7 {


} */